#home {
  .btn {
    outline: none;
  }
  .add-btn {
    background: #1c67a8;
    color: #fff;
    margin-bottom: 20px;
  }

  .add-btn:hover {
    background: #002e5d;
  }

  .hidden-info {
    color: #d9534f;
  }
}