<div id="upload" class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Edit this user</h2>
            <a href="#"><i class="fa fa-hand-o-left" aria-hidden="true"></i> Show all users</a>
        </div>
        <div class="col-md-12">
            <br/>
            <form role="form" ng-submit="edit.editUser(edit.user)">
                <div class="form-group">
                    <label for="email">Login</label>
                    <input type="email" class="form-control" id="email" placeholder="Email address"
                           ng-model="edit.user.login" required>
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Password"
                           ng-model="edit.user.password" autocomplite="off" required>
                </div>
                <div class="form-group">
                    <label>Date of Birth</label>
                    <input type="date" class="form-control" id="date" placeholder="Date of Birth"
                           max="{{edit.today | date:'yyyy-MM-dd'}}" ng-model="edit.user.birthDate" required>
                </div>
                <div class="checkbox" ng-init="user.hideAge = false">
                    <label><input type="checkbox" ng-model="edit.user.hideAge" > Hide Age?</label>
                </div>
                <button type="submit" class="btn submit-btn">Edit</button>
            </form>
        </div>
    </div>
</div>